@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Racing Sans One', cursive !important;
  background-color:azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-shadow1{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

h1{
  font-size:  30px;
  font-weight: bold ;
  color:orangered
}

.header{
  padding :20px;

}
.content{
  min-height: 90vh;
}